* {
    user-select: none; /* Запрещает выделение */
    -webkit-user-select: none; /* Для Safari */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none; /* Для IE/Edge */
}
body {
    margin: 0;
    overflow: hidden;
    background-color: #FCEEFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}
.container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; /* Чтобы контейнер не мешал кликам */
}
.text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EF5DA8;
    font-size: 32px;
    font-weight: bold;
    z-index: 10; /* Поднимаем текст выше холста */
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
.rainbow-text-loop {
    font-family: "Montserrat", serif;
    z-index: 2;
    font-weight: 650;
    font-style: normal; /* исправлено на правильное значение */
    margin-top: 20px; /* отступ сверху 20 пикселей */
    position: fixed; /* фиксируем заголовок */
    top: 80px; /* отступ сверху */
    left: 50%;
    -webkit-animation: rainbow 10s infinite; 
    transform: translateX(-50%);
}

@-webkit-keyframes rainbow {
  0%{color: rgb(255, 255, 255);}  
  10%{color: #EF5DA8;} 
  20%{color: white;}
  30%{color: #EF5DA8;} 
  40%{color: white;}
  50%{color: #EF5DA8;} 
  60%{color: white;}
  70%{color: #EF5DA8;} 
  80%{color: white;}
  90%{color: #EF5DA8;} 
  100%{color: white;}
}


.scroll-container {
    width: 100%;
    height: 200px; /* Высота видимой области */
    overflow: hidden;
    position: absolute;
    top: 50%; /* Ставим scroll-container по центру */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    z-index: 10;
}
@keyframes scrollText {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.scroll-content {
    font-family: "Montserrat", serif;
    font-weight: 550;
    font-style: normal; /* исправлено на правильное значение */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: scrollText 3560s linear infinite;
    animation-delay: 5s; /* Задержка перед началом */
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}